{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Eml to CSV | {% endblock title %}

{% block content %}

<div class="row">
    <div class="col-11 col-md-4 mx-auto mt-5">
        <form method="post" action="." enctype="multipart/form-data">
            <h1>Eml to CSV</h1>
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
    {{ form.media }}
{% endblock extra_js %}

<style>
    .btn-outline-email {
        color: #00796b;
        border-color: #00796b;
    }
    .btn-outline-email:hover, .btn-outline-email:focus {
        background-color: #00796b;
        color: #fff;
        border-color: #00796b;
    }
</style>