{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset | {% endblock %}

{% block content %}
<div class="w-full my-6 px-4 bg-gray-800 shadow-md rounded-xl p-6">
    <h1 class="mb-4 text-xl md:text-2xl text-center text-white">Reset Your Password</h1>

    <form method="post" action=".">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="flex justify-center">
            <button class="btn btn-secondary" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}