{% extends 'base.html' %}

{% block title %}Password Reset | {% endblock %}

{% block content %}
<div class="w-full my-6 px-4 bg-gray-800 shadow-md rounded-xl p-6">
    <h1>Reset Your Password</h1>

    <p>We've emailed you instructions for setting your password. If an account exists with the email you entered, you should receive them shortly.</p>

    <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
</div>
{% endblock %}